@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    background: #d8a89a;
    margin: 0;
    padding: 20px;
    font-family: "Sofia Sans", sans-serif;
    /* font-family: "Caveat", cursive;  */
}

h1 {
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #f8f1d4;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    max-width: 1100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.day-btn {
    background: #c9c1a7;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    transition: 0.2s background;
}

.day-btn:hover {
    background: #d8a89a;
}

.day-btn.active {
    background-color: #9cafaa;
    color: #ffffff;
}

main {
    flex-grow: 1;
}

.add-lesson,
.add-homework {
    margin: 15px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#add-lesson-btn,
#add-homework-btn,
.save-lesson,
.edit-lesson,
.delete-lesson,
.save-hw,
.edit-hw-btn,
.delete-hw-btn {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    background: #9cafaa;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

#add-lesson-btn:hover,
#add-homework-btn:hover,
.save-lesson:hover,
.edit-lesson:hover,
.delete-lesson:hover,
.save-hw:hover,
.edit-hw-btn:hover,
.delete-hw-btn:hover {
    background: #d6dad8;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.add-lesson input,
.add-homework input,
.add-homework select,
.homework-el input,
.edit-name,
.edit-room {
    border-radius: 6px;
    padding: 6px;
    flex-grow: 1;
    border: 1px solid #cccccc;

}

.lesson {
    background: #ffffff;
    border-radius: 12px;
    padding: 12px;
    margin: 12px 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.lesson h3 {
    width: fit-content;
    display: inline;
}

.lesson-actions {
    display: inline;
    float: right;
}

.homework-el {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding-left: 5px;
    gap: 6px;

}

input[type="checkbox"] {
    margin-right: 7px;
}

input[type="checkbox"]:checked+span {
    text-decoration: line-through;
    color: #777;

}

@media (max-width:768px) {
    .container {
        flex-direction: column;
        padding: 15px;
    }

    .sidebar {
        flex-wrap: wrap;

    }

    .lesson-actions {
        float: none;

    }

    .lesson-actions button,
    .homework-el div button {
        padding: 3px 5px;
        font-size: 12px;
    }

    .homework-el{
        flex-wrap: wrap;
    }
}